---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@font-face {
    font-family: 'Menlo';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('Menlo-Regular.woff') format('woff');
}

$blue:      #2b3d50;
$blueGrey:  #3a4b5c;
$orange:    #fb320b;
$greyLight: #f7f7f7;
$greyTxt:   #696a6c;
$pink:      #e409d2;

html {
    font-size: 62.5%;
}

body {
    @include rem(16);
    font-family: "Work Sans";
    font-weight: 400;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.btnFeatures.animated:hover {
    border-color: #fff;
}

.btn_blue {
    width: 160px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $blue;
    border-color: $blue;
    background: transparent;
    box-sizing: border-box;
    padding: 12px 15px 14px;
    color: $blue;
    border-radius: 25px;
    text-align: center;
    line-height: 1em;
    @include rem(14);
    text-decoration: none;
    transition: all 0.3s;
    &:visited {
        color: $blue;
    }
    &:hover {
        background: $blue;
        color: #fff !important;
        text-decoration: none;
    }
    &.animated:hover {
        background-color: #fff;
        color: $blue !important;
    }
}

.btn_white {
    width: 160px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #fff;
    background: transparent;
    box-sizing: border-box;
    padding: 12px 15px 14px;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    line-height: 1em;
    @include rem(14);
    text-decoration: none;
    transition: all 0.3s;
    &:visited {
        color: #fff;
    }
    &:hover {
        background: #fff;
        color: $blueGrey;
        text-decoration: none;
    }
}

.btn_orange {
    width: 160px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $orange;
    background: $orange;
    box-sizing: border-box;
    padding: 12px 15px 14px;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    line-height: 1em;
    @include rem(14);
    text-decoration: none;
    transition: all 0.3s;
    &:visited {
        color: #fff;
    }
    &:hover {
        background: #fff;
        color: $orange;
        text-decoration: none;
    }
}

.btn_git {
    margin-left: 20px;
    i {
        color: $orange !important;
        @include rem(14);
        margin-right: 4px;
        transition: all 0.3s;
    }
    &.btn_orange i {
        color: #fff !important;
    }
    &.btn_orange:hover i {
        color: $orange !important;
    }
    &.btn_white {
        i { color: #fff !important; }
        &:hover i { color: $blueGrey !important; }
    }
}

.logo {
    background: url(img/logo_automate.png) no-repeat center center transparent;
    display: block;
    width: 290px;
    height: 62px;
    font-size: 0;
    margin-bottom: 40px;
    position: relative;
    span {
        font-size: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(img/logo_automateW.png) no-repeat center center transparent;
        opacity: 0;
    }
}

.home {
    .info h2 {
        overflow: hidden;
        margin: 0 auto;
    }

    .upper_home {
        display: flex;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        flex-direction: row;
        padding-top: 40px;
        position: relative;
        &:not(.card2) { background: $greyLight; }
        .left, .right {
            width: 50%;
            z-index: 2;
        }
        &.card2 { display: none; }
        .right {
            height: 100vh;
        }
        div.ghost {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            z-index: 1;
        }
        span.fond {
            position: absolute;
            display: block;
            background: url(img/fond_glob.png) no-repeat center center transparent;
            width: 1009px;
            height: 645px;
            bottom: -85px;
            right: 12.5%;
            z-index: 0;
        }
        .left {
            padding-top: 70px;
            padding-left: 145px;
            padding-right: 110px;
            box-sizing: border-box;
            .info {
                position: relative;
                left: 0;
                opacity: 1;
                &.info2 {
                    display: none;
                }
            }
            h2 {
                margin: 0;
                margin-top: 80px;
                margin-bottom: 40px;
                display: inline-block;
                box-sizing: border-box;
                color: $blue;
                @include rem(35);
                font-family: "Anton";
                font-weight: 400;
                line-height: 1.4em;
            }
            p {
                @include rem(18);
                color: $greyTxt;
                line-height: 1.75em;
                margin: 0 0 45px;
            }
        }
        #term {
            position: relative;
            .asciinema-player-wrapper {
                text-align: left;
                padding: 50px 20px 20px;
                background: url(img/pattern1.png) repeat top left transparent;
                border-radius: 8px;
                height: 100vh;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                box-sizing: border-box;
                overflow: hidden;
            }
            .asciinema-terminal {
                background: url(img/pattern1.png) repeat top left transparent;
                display: block;
                height: 100%;
                border: none;
            }
        }
        div.line_ellipse {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 0;
            z-index: 1;
            span {
                background: url(img/ico_ellipse.png) no-repeat center center transparent;
                display: inline-block;
                vertical-align: middle;
                width: 12px;
                height: 12px;
                margin-right: 6px;
            }
        }
    }
    .container_advantages {
        .btn_git {
            display: block;
            margin: 60px auto;
        }
        .advantages {
            padding-top: 145px;
            clear: both;
            display: block;
            width: 100%;
            text-align: center;
            @include clearfix;
            box-sizing: border-box;
            padding-left: 9.25%;
            padding-right: 9.25%;
            .item {
                float: left;
                display: block;
                box-sizing: border-box;
                width: calc(100% / 3);
                text-align: left;
                padding: 0 3.25%;
                &:not(:last-child) { margin-bottom: 50px; }
                &:nth-child(3n+1) { clear: both; }
                &:nth-child(7) {
                    float: none;
                    margin: 0 auto;
                    text-align: center;
                    width: auto;
                    max-width: 820px;
                    padding: 0;
                }
                h2 {
                    display: block;
                    font-weight: 600;
                    font-family: "Work Sans";
                    @include rem(21);
                    line-height: 1em;
                    margin: 0;
                    margin-bottom: 20px;
                    position: relative;
                    box-sizing: border-box;
                    color: $blue;
                    display: inline-block;
                    vertical-align: baseline;
                    &::before {
                        content: "/";
                        font-family: "Work Sans";
                        font-weight: 400;
                        color: $orange;
                        @include rem(23);
                        display: inline-block;
                        vertical-align: baseline;
                        margin-right: 7px;
                    }
                }
                p {
                    margin: 0;
                    line-height: 1.75em;
                    @include rem(15);
                    color: $greyTxt;

                }
                .line {
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    margin-top: 10px;
                    a {
                        text-decoration: none;
                        font-size: 0;
                        display: inline-block;
                        vertical-align: middle;
                        margin-bottom: 5px;
                        img {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .container_starting {
        background: url(img/bg_starting.png) no-repeat center top #eeeded;
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding-top: 100px;
        padding-bottom: 60px;
        .starting {
            text-align: center;
            h2 {
                @include rem(35);
                color: $blue;
                font-family: "Anton";
                font-weight: 400;
                line-height: 1em;
                margin: 0 0 15px;
            }
            p {
                font-family: "Work Sans";
                font-weight: 400;
                color: $greyTxt;
                @include rem(18);
            }
            div.command {
                display: block;
                width: 840px;
                box-sizing: border-box;
                margin: 30px auto;
                background: url(img/pattern1.png) repeat left top transparent;
                text-align: center;
                color: #fff;
                font-family: "Menlo";
                font-weight: 400;
                @include rem(13);
                line-height: 1em;
                padding: 38px 25px;
                span { color: $pink; }
            }
        }
    }

    .fake {
        position: absolute;
        top: 100vh;
        height: 1px;
        width: 1px;
        left: 0;
    }
}

.home.documentation {
    .upper_home {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0;
        height: auto;
        .left {
            width: 37.5%;
            padding-top: 110px;
            position: fixed;
            top: 0;
            left: 0;
            .menuDocumentation {
                margin-top: 55px;
                display: block;
                width: 100%;
                box-sizing: border-box;
                list-style: none;
                li {
                    &:first-child {
                        text-transform: uppercase;
                        @include rem(14);
                        color: #8c8c8e;
                    }
                    &:not(:first-child).active, &:not(:first-child):hover {
                        color: $orange;
                    }
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    font-family: "Work Sans";
                    @include rem(15);
                    color: $blue;
                    font-weight: 600;
                    line-height: 1em;
                    margin-bottom: 28px;
                    cursor: pointer;
                }
            }
        }
        .right {
            width: 62.5%;
            height: auto;
            box-sizing: border-box;
            padding: 120px 50px;
            background: url(img/pattern2.png) repeat left top transparent;

            h1 {
                font-family: "Work Sans";
                @include rem(25);
                font-weight: 400;
                color: $blue;
                &:not(:first-child) { margin-top: 37px; }
            }
            h2 {
                font-family: "Work Sans";
                @include rem(20);
                font-weight: 400;
                color: $blueGrey;
                margin-top: 20px;
                padding-bottom: 2px;
                border-bottom: 1px solid rgba($blueGrey,0.3);
                margin-bottom: 15px;
            }
            h3 {
                font-family: "Work Sans";
                @include rem(13);
                text-transform: uppercase;
                font-weight: 600;
                color: #333;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            pre.highlight {
                background: url(img/pattern1.png) repeat left top transparent;
                code {
                    background: transparent;
                    color: #fff;
                    span::before { color: #fff !important; opacity: 0.7; }
                }
            }
        }
    }
    pre.language-yaml,pre.language-bash:not(.highlight) {
        background: url(img/pattern4.png) repeat top left transparent;
        color: #F1F8F2;
        border: none;
        code {
            background: none;
            font-weight: 500 !important;
            font-family: 'Inconsolata';
        }
    }
}
.docu + footer {
    background: #fff;
}

footer {
    position: relative;
    height: 170px;
    background: #EEEDED;
    overflow: hidden;
    box-sizing: border-box;
    .inner {
        background: $blueGrey;
        @include clearfix;
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 50px 11.88%;
        position: relative;
        z-index: 10;
        margin-top: 170px;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .left {
        float: left;
        span {
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            font-family: "Work Sans";
            @include rem(18);
            font-weight: 400;
            margin-right: 15px;
        }
        a {
            font-size: 0;
            display: inline-block;
            vertical-align: middle;
            width: 127px;
            height: 69px;
            background: url(img/logo_eolas.png) no-repeat center center transparent;
            opacity: 1;
            transition: all 0.3s;
            &:hover {
                opacity: 0.75;
            }
        }
    }
    .right {
        float: right;
        padding: 15px 0;
        a:last-child { margin-left: 20px; }
    }
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

@media screen and (max-width: 1720px) {
    .home .upper_home span.fond {
        bottom: -140px;
    }
}

@media screen and (max-width: 1640px) {
    .home.documentation {
        .upper_home {
            .left {
                padding-left: 5%;
                padding-right: 5%;
            }
        }
    }

    .home:not(.documentation) {
        .upper_home {
            .fond {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .home:not(.documentation) {
        .upper_home {
            .left {
                padding-left: 45px;
                padding-right: 45px;
                padding-top: 20px;
            }
        }
    }

    .home.documentation {
        .upper_home {
            .right {
                padding-top: 30px;
            }
            .left {
                padding-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
                .line {
                    text-align: center;
                    & > .btn_blue {
                        display: block;
                        width: 100%;
                        max-width: 160px;
                        box-sizing: border-box;
                        margin: 0 auto 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .home:not(.documentation) {
        .upper_home {
            .left {
                h2 { margin-top: 45px; margin-bottom: 20px; font-size: 3rem; }
                p { margin-bottom: 25px; }
                .line { text-align: center; }
                .info {
                    a { display: none; }
                }
            }
        }
        .container_starting .starting div.command {
            width: 100%;
            white-space: nowrap;
            overflow: auto;
        }
    }

    .home.documentation {
        .upper_home {
            .right {
                width: calc(100% - 320px);
                padding-left: 20px;
                padding-right: 20px;
            }
            .left {
                width: 320px;
                h1 { background-size: 100% auto; width: 100%; }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .home:not(.documentation) {
        .upper_home {
            .left {
                .line {
                    text-align: center;
                    & > .btn_blue {
                        display: block;
                        width: 100%;
                        max-width: 160px;
                        box-sizing: border-box;
                        margin: 0 auto 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .home.documentation {
        .upper_home {
            display: block;
            .right {
                width: 100%;
            }
            .left {
                padding-left: 0;
                padding-right: 0;
                padding-top: 50px;
                padding-bottom: 30px;
                width: 100%;
                background: #fff;
                position: static;
                h1 {
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    max-width: 280px;
                    margin: 0 auto 25px;
                }
                .menuDocumentation {
                    margin-left: 0;
                    padding: 0 30px;
                    box-sizing: border-box;
                    li {
                        padding-top: 26px;
                        padding-bottom: 26px;
                        margin: 0;
                        border-bottom: 1px solid #d4d4d4;
                        &:first-child {
                            padding-top: 18px;
                            padding-bottom: 18px;
                            border-top: 1px solid #d4d4d4;
                            width: calc(100% + 60px);
                            margin-left: -30px;
                            box-sizing: border-box;
                            padding-left: 52px;
                            background: url(img/ico_menu.png) no-repeat left 30px top 51% transparent;
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 30px;
                                background: url(img/ico_showMenu.png) no-repeat center center transparent;
                                width: 12px;
                                height: 14px;
                            }
                            &.active::after {
                                background: url(img/ico_hideMenu.png) no-repeat center center transparent;
                            }
                        }
                        &:last-child {
                            border-bottom: none;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .home:not(.documentation) {
        .upper_home {
            padding-top: 0;
            height: auto;
            .ghost { display: none; }
            .left .info.info2 {
                left: 0;
                opacity: 1;
            }
        }

        .container_advantages {
            .advantages {
                padding-top: 50px;
                .item {
                    float: none;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0;
                    text-align: center;
                }
            }
        }
        .right {
            display: none;
        }
        .left {
            padding-left: 0;
            padding-right: 0;
            padding-top: 50px;
            padding-bottom: 30px;
            width: 100%;
            background: #fff;
            position: static;
            h1 {
                display: block;
                width: 100%;
                box-sizing: border-box;
                max-width: 280px;
                margin: 0 auto 25px;
                background-size: 100% auto;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    footer {
        padding-left: 20px;
        padding-right: 20px;
        .left {
            float: none;
            width: 100%;
            text-align: center;
            display: block;
            margin-bottom: 20px;
        }
        .right {
            float: none;
            padding: 15px 0;
            display: block;
            width: 100%;
            clear: both;
            text-align: center;
        }
    }

    .home:not(.documentation) {
        .upper_home {
            .left {
                .line {
                    text-align: center;
                    & > .btn_blue {
                        display: block;
                        width: 100%;
                        max-width: 160px;
                        box-sizing: border-box;
                        margin: 0 auto 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .right {
        a {
            width: 100%;
            box-sizing: border-box;
            display: block;
            margin: 0 0 15px !important;
        }
    }
}