/**
 * Site header
 */



/**
 * Site footer
 */


/**
 * Homepage - Terminal
 */
#card {
	width: 100%;
	height: 100vh;
}

#term .control-bar {
	display: none;
}

.back {
	background: url(img/pattern3.png) repeat left top transparent;
    border-radius: 8px;
    border-top-right-radius: 0;
    overflow: hidden;
    border-bottom-right-radius: 0;
    pre,code {
        background-color: transparent;
        border: none;
    }
    pre {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}