---
layout: default
---
<main class="main-page">
    <div class="home documentation">

        <div class="container_code">
            <div class="spacing"></div>
            <div class="upper_home card1">
                <div class="left">
                    <div class="header">
                        <h1 class="logo">Automate, A deployment tool<span></span></h1>
                        <div class="line">
                            <a class="btn_blue" href="/">Home</a>
                            <a class="btn_blue btn_git" href="https://github.com/automatephp/automate">
                                <i class="fa fa-github "></i>Github
                            </a>
                        </div>
                        <ul class="menuDocumentation"></ul>
                    </div>
                </div>

                <div class="right">
                    <div class="inner">

                    {{ content }}

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="site-footer">
    <div class="left">
        <span>Sponsored by</span>
        <a href="#" class="eolas">Eolas</a>
    </div>
    <div class="right">
        <a href="/" class="btn_white">Home</a>
        <a href="https://github.com/automatephp/automate" class="btn_white btn_git"><i class="fa fa-github"></i>Github</a>
    </div>
</footer>

<script>
    $("code").each(function() {
        $(this).wrapAll('<pre class="line-numbers"></pre>');

    });


    $(".line-numbers").each(function() {
        var divHeight = $(this).height();
        var lineHeight = parseInt($(this).css('line-height'));
        var lines = divHeight / lineHeight;
        var $span = $('<span aria-hidden="true" class="line-numbers-rows">');
        $('code', $(this)).append($span);
        for(var i=0; i < lines; i++) {
            $span.append("<span></span>");
        }
    });

    $(".right .inner h1").each(function() {
        var hisId = $(this).attr('id');
        var name = $(this).html();
        var li = "<li class='";
        li += hisId;
        li += "'>";
        li += name;
        li += "</li>";
        $(".menuDocumentation").append(li);
    });

    $(".menuDocumentation li:not(:first-child)").on("click", function() {
        var idLink = "#" + $(this).attr('class');
        $('html, body').animate({
            scrollTop: $(idLink).offset().top
        }, 800);
    });

    $(window).on("load resize scroll", function(){
        $($(".right h1").get().reverse()).each(function() {
            if ($(window).scrollTop() >= ($(this).offset().top - 40)) {
                var activeLi = "." + $(this).attr("id");
                $(".menuDocumentation li").removeClass('active');
                $(activeLi).addClass("active");
                return false;
            }
        });
    });

    if($(window).width() <= 768) {
        $(".menuDocumentation li:not(:first-child)").hide();
        $(".menuDocumentation li.automate").on("click",function(){
            $(".menuDocumentation li:first-child").toggleClass('active');
            $(".menuDocumentation li:not(:first-child)").toggle(400);
        });
    }

</script>