---
layout: default
---
<main class="main-page">
    {{ content }}

    <footer class="site-footer">
        <div class="inner">
            <div class="left">
                <span>Sponsored by</span>
                <a href="https://www.eolas.fr/" class="eolas">Eolas</a>
            </div>
            <div class="right">
                <a href="{{ site.baseurl }}{% link doc/index.md %}" class="btn_white">Documentation</a>
                <a href="https://github.com/automatephp/automate" class="btn_white btn_git"><i class="fa fa-github"></i>Github</a>
            </div>
        </div>
    </footer>

</main>
